name: CI/CD Pipeline

on:
  push:
    branches: ['main']

permissions:
  contents: read
  packages: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar o código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependências
        run: |
          pip install fastapi uvicorn httpx pytest

      - name: Rodar Pytest
        run: python -m pytest -v

  build-and-push:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Baixar o código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Transformar nome do repo em minúsculo
        id: string
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{ github.repository }}

      - name: Build e Push da Imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true

          tags: |
            ghcr.io/${{ steps.string.outputs.lowercase }}:latest
            ghcr.io/${{ steps.string.outputs.lowercase }}:${{ github.sha }}
